.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: -100px;
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  clear: both;
}


.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $pink;
  opacity: 0.8;
}
.footer .fa-heart {
  color: $pink;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  // padding-bottom: 100px; /* this needs to be bigger than footer height*/
}
