.interest-title, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 10px 0px;
}

.interests-wrapper {
  height: 240px;
  margin-bottom: 60px;
  // background-color: #d3cdcd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 8px solid #EA648D;
  box-shadow-top: 1px 0 12px #888888;
  box-shadow-left: 1px 0 12px #888888;
  box-shadow-right: 1px 0 12px #888888;
}

.interest-img {
  border-radius: 50%;
  border: 3px solid $green;
  margin-right: 30px;
  padding: 10px;
  margin: 20px;
  }

.interest-card {
  flex-grow: 1;
  flex-basis: 0;
}

.interest-title {
  padding-bottom: 10px;
  font-weight: bold;
  height: 30px;
  // background-color: #d3cdcd;
  color: black;
}

.commons-title {
  padding-bottom: 10px;
  font-weight: bold;
  height: 30px;
  // background-color: #d3cdcd;
  color: black;
  // box-shadow: 1px 0 12px #888888;
}

.interests {
  box-shadow: 1px 0 12px #888888;
}
