.request-container {
  width: 80%;
  margin: 0;
}

.request {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
  width: 90%;
  height: 150px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
  border-radius: 3px;
  padding: 20px;
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

.request-title {
  text-decoration: none;
  margin-bottom: 0px;
  h3 {
    font-size: 23px;
    line-height: 1;
    margin-bottom: -15px;
    margin-top: 10px;
  }
}
.request-body {
  flex: 1 1 auto;
  h5 {
    color: #272822;
  }
  p {
    font-size: 14px;
    font-weight: medium;
    opacity: 1;
    margin-top: 5px;
    padding-left: 0px;
    // font-weight: lighter;
    color: #272822;
    margin-bottom: 0;
  }
  .request-address {
    overflow-wrap: normal;
  }
}

.request-status {
  font-size: 18px;
  font-weight: bold;
  width: 10%;
  height: 150px;
  background-color: $green;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
}

.request-price {
  font-weight: bold;
  font-size: 15px;
  width: 170px;
  margin-right: 20px;
}

.btn-calendar {
  margin: 20px;
}

.listing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
}

.listing-wrapper {

}

.request-border {
  border-bottom: 8px solid $pink;
  box-shadow: 1px 0 12px #888888;
  box-shadow-left: none;
  border-bottom-left-radius: 0px;
  &:hover {
    background: #f7f7fa;
    cursor: pointer;
  }
}

.request-border-right {
  border-bottom: 8px solid $pink;
  box-shadow: 1px 0 12px #888888;
  border-bottom-right-radius: 0px;
}

.pending {
  background-color: #E9658C;
}

/* request image */
.request-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

.btn-pale {
  opacity: 0.4;
  color: white;
  background-color: $pink;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.btn-requests-card {
  margin: 10px;
}

