.request-container {
  width: 80%;
  margin: 0;
}

.request {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
  width: 90%;
  height: 100px;
}

.request-title h3 {
  font-size: 14px;
  margin-bottom: 0px;
}
.request-body p {
  font-size: 14px;
  font-weight: medium;
  opacity: 0.8;
  margin-top: 5px;
  padding-left: 10px;
}


.request-status {
  font-size: 18px;
  font-weight: bold;
  width: 10%;
  height: 100px;
  background-color: $green;
}

.request-price {
  font-weight: bold;
  font-size: 20px;

}

.btn-calendar {
  margin: 20px;
}

.listing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 0 40px;
}

.request-border {
  border: 1px solid grey;
}

.request-border-right {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
