.request-container {
  width: 80%;
  margin: 0;
}

.request {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.request-body h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.request-body p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.request-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}

.request-status {
  font-size: 14px;
  font-weight: bold;
}

.request-price {

}

